/* CSS Reset Ruleset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body */
body {
	font-family: "Open Sans", sans-serif;
}

/* navigation menu */
nav {
	/* create space between (element border and content) ul tag and nav */
	/* shorthand property */
	padding: 0.8rem;
	/* padding properties */
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-right: 0.8rem;
	padding-left: 0.8rem;

	/* create space between (elements) nav and intro section */
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}


/* sections */
#intro, #succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	/* create space between the contents of intro section */
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;	
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 25px;
}

#succeed-info h2, #succeed-info h3 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	/* should appear beside each other */
	display: inline-block;
	/* aligns elements with the tallest element in line */
	/* used with the "inline-block" value */
	vertical-align: top;
	/* allows for cards to have equal height that adjusts with the content */
	min-height: 175px;
	/* measurement is based on equally dividing the parent's container width */
	/* only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling */
	width: 30%;
	/* create horizontal spacing between cards */
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* for footer */
footer {
	padding: 0.7rem;
}
footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* for activity pre-footer */
#pre-footer {
	padding: 1rem;
	background-color: #002540;
	color: white;
}
#pre-footer div {
	display: inline-block;
	width: 20%;
}
#pre-footer > div > h3, #pre-footer > div > p {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}