/* CSS Selectors */
/* Tag Selector (tag-name) */
/* headings */
h1 {	
	/* CSS Specificity with Priority */
	color: springgreen !important;
}

/* Universal Selector (*) */
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/* id Selector #id-name */
#zuitt-motto {
	letter-spacing: 5px;
}

/* class Selector .class-name */
.offering-item {
	text-transform: uppercase;
}

/* Attribute Selector tag-name[attribute] */
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/* CSS Selector Specificity id>class>attribute>tag>universal */
h3 {
	letter-spacing: 25px;
}

/* Combinators (combined selectors) */
/* Adjacent Sibling Selector (selector + selector) */
#zuitt-motto + img {
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
/* Descendant (Child and Grandchild) Selector (selector [whitespace] selector) */
#bootcamp-learning-list .offering-item {
	color: #075966;
}
/* General Sibling (Inline/preceeding tag) Selector (selector ~ selector) */
#register ~ a {
	text-decoration: none;
}

/* Child Selector - selector > selector */
body > section > form > label {
	color: rgb(0,0,128);
}

/* HTML Tags or General */
body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 200px;
	width: 30vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}

/*
	CSS Ruleset (selector with declaration blocks)
	(attribute)selector {
		property: value;
	}
	# id, . class
 */
