/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

/* font for body */
body {
	font-family: "Open Sans", sans-serif;
}

/* navigation menu */
nav {
	padding: 0.8rem 0.8rem 0.8rem 0.8rem;
	border-bottom: 1px solid grey;
	display: block;
	list-style-type: none;
	width: 100%;
	position: sticky;
	top: 0;
	box-shadow: 0px 0px 3px 0px #888888;
	background-color: white;
	z-index: 1;
}
nav .nav-logo {
	display: inline-block;
	margin-left: 50px;
	margin-top: 0.5rem;
	margin-bottom: 0.08rem;
}
nav .nav {
	display: inline-block;
	margin-right: 1rem;
}
.right-nav {
	display: inline-block;
	float: right;
	margin-top: 0.08rem;
	margin-right: 50px;
	text-align: right;
}
.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;	
	font-size: 1rem;
	padding: 0.8rem;
	border-style: none;
	border-radius: 25px;
}

/* landing page */
/* note: not responsive... */
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	min-height: 50vh;
	background-size: 100%;
	background-position: center;
}
.front-bg {
	background: rgba(0,0,0,.5);
	height: 50vh;
	position: relative;
	color: black;
}
.container {
	display: block;
	position: relative;
	float: right;
	color: white;
	text-align: right;
	padding-right: 75px;
	height: 50vh;
}
.title {
	font-family: "Zilla Slab", sans-serif;
	font-size: 3rem;
	padding-left: 50%;
	padding-bottom: 20px;
}
.subtitle {
	font-weight: lighter;
	font-size: 1.2rem;
	padding-left: 50%;
	padding-bottom: 20px;
}
.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;	
	font-size: 1rem;
	padding: 0.8rem;
	width: 175px;
	border-style: none;
	border-radius: 25px;
}

/* intro */
.intro {
	margin: 50px 200px 50px 200px;
	padding: 1rem 3rem 1rem 3rem;
}
.title-2 {
	font-family: "Zilla Slab", sans-serif;
	text-align: center;
	padding-bottom: 50px;
	font-size: 2rem;
}
.intro-description {
	font-weight: lighter;
	padding-bottom: 25px;
}

/* prefooter and footer */
.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 50px 200px 50px 200px;
	height: 40vh;
}
.prefooter-description {
	font-weight: lighter;
	padding-bottom: 25px;
}
.book-button {
	background-color: #336589;
	float: center;
	color: white;
	font-weight: bold;	
	font-size: 1rem;
	padding: 0.8rem;
	border-style: none;
	border-radius: 25px;
	width: 150px;
}
footer {
	text-align: center;
	padding: 10px 10px 10px 10px;
	font-weight: lighter;
}
