/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* bootstrap font */
body {
	font-family: "Helvetica Neue", sans-serif;
}

/* main css */
.text-center {
	text-align: center;
}
.h-25 {
	height: 25%;
}
.p-3 {
	padding: 15px;
}
.bg-success {
	background-color: forestgreen;
}
.bg-warning {
	background-color: orange;
}
.bg-danger {
	background-color: darkred;
}
.bg-secondary {
	background-color: lightslategrey;
}

/* css and bootstrap flexbox */
.d-flex {
	display: flex;
}
/* horizontal centering */
.justify-content-center {
	justify-content: center;
}
/* vertical centering */
.align-items-center {
	align-items: center;
}
/*  */
.flex-column {
	flex-direction: column;
}
.flex-column-reverse {
	flex-direction: column-reverse;
}
.flex-row {
	flex-direction: row;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}