/* CSS Styling and Positioning */
/* universal */
* {
	/* display property (rendering box) - border box */
	/* inline, block, inline-block, none*/
	/* css units (absolute/fixed or relative/dependent) */
	/* css positioning: static, relative, absolute, fixed, sticky */
	/* css background properties: -color, -image: url(), -repeat, -size, -position, -attachment  */
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

/* px - absolute value or for fonts | rem for relative value or with parent/root element and based on html fixed value */

/* main code */
/* default display properties: div block, span inline */
#div-1 {
	background-color: green;
	display: inline;
}
#span-1 {
	background-color: purple;
	display: inline-block;
	width: 200px;
	height: 200px;
}
#span-2 {
	background-color: red;
	display: block;

}
#div-2 {
	background-color: hotpink;
	display: none;
}
#img {
	display: inline-block;
	width: 250px;
	height: 250px;
}

/* display properties demo */
#p-1 {
	background-color: #87CEFA;
}
#p-2 {
	background-color: rgb(255,105,180);
	width: 60%;
}
#p-3 {
	background-color: limegreen;
	width: 40%;
}
.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

/* float */
/* inherit, left, right, center */
.img-float {
	width: 250px;
	height: 250px;
	float: inherit;
}
.box {
	background-color: darkred;
	border: 1px solid black;
	margin: 5px;
	color: white;
}
.fifty-percent {
	width: 50%;
}
.one-hundred-pixels {
	width: 100px;
}
.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

/* viewport: vw (width) and vh (height) */
/* 1 vh / vw = 1% */
.fifty-viewport-width {
	width: 50vw;
}
.twentyfive-viewport-height {
	height: 25vh;
}

/* viewport units: (root element) rem and (parent element) em */
.one-rem {
	font-size: 1rem;
}
.one-em {
	font-size: 1em;
}
.two-rem {
	font-size: 2rem;
}
.two-em {
	font-size: 2em;
}

/* for root elements */
html {
	/* default for html code */
	font-size: 16px;
	height: 75vh;
}

/* percent units - depends on parent element like em */
.two-hundred-percent {
	font-size: 200%;
}

/* background properties */
.background {
	/* 16px root size * 20 rem = 360px */
	min-height: 100vh;
	/* CSS Colors: names, hex code, rgb */
	background-color: gray;
	/* background image */
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	/* no-repeat, repeat, repeat-x, repeat-y, space, round */
	background-repeat: no-repeat;
	/* relative element of background section is html */
	/* background size units (one value, two value width height, keyword): 50%, auto, contain (to fit vh), cover, 60px */
	background-size: 100%;
	/* offsetting - position of background relative to the html element */
	/* position units: one/two values, keywords (left, center, right, bottom, top ) */
	background-position: center top;
	/* attachments (scroll/fixed) */
	background-attachment: fixed;
}
.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: none;
}
.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

/* positioning */
.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	/* relative to html size */
	height: 75vh;
}
.child-one {
	background-color: gray;
	padding: 10px;
}
.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
	left: 10px;
	bottom: 10px;
}
.child-three {
	background-color: gray;
	padding: 10px;
}

/* z-index */
.container {
	position: relative;
}
.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}
.gray-box {
	position: absolute;
	z-index: 3;
	background-color: lightgrey;
	opacity: 75%;
	border: 2px solid black;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}
.green-box {
	position: absolute;
	z-index: 2;
	background-color: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;	
	height: 100px;
}